<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd"
             version="3.0">
  <persistence-unit name="persistenceUnit">

    <class>io.github.dnloop.inventorycom.model.Category</class>
    <class>io.github.dnloop.inventorycom.model.Client</class>
    <class>io.github.dnloop.inventorycom.model.ClientPhone</class>
    <class>io.github.dnloop.inventorycom.model.Departments</class>
    <class>io.github.dnloop.inventorycom.model.Locality</class>
    <class>io.github.dnloop.inventorycom.model.Material</class>
    <class>io.github.dnloop.inventorycom.model.Measure</class>
    <class>io.github.dnloop.inventorycom.model.Municipality</class>
    <class>io.github.dnloop.inventorycom.model.Presentation</class>
    <class>io.github.dnloop.inventorycom.model.Product</class>
    <class>io.github.dnloop.inventorycom.model.ProductDetail</class>
    <class>io.github.dnloop.inventorycom.model.Province</class>
    <class>io.github.dnloop.inventorycom.model.PurchaseDetail</class>
    <class>io.github.dnloop.inventorycom.model.PurchaseInvoice</class>
    <class>io.github.dnloop.inventorycom.model.PurchaseShare</class>
    <class>io.github.dnloop.inventorycom.model.SaleDetail</class>
    <class>io.github.dnloop.inventorycom.model.SaleInvoice</class>
    <class>io.github.dnloop.inventorycom.model.SaleShare</class>
    <class>io.github.dnloop.inventorycom.model.SubCategory</class>
    <class>io.github.dnloop.inventorycom.model.Supplier</class>
    <class>io.github.dnloop.inventorycom.model.SupplierCatalog</class>
    <class>io.github.dnloop.inventorycom.model.SupplierPhone</class>
    <properties>
      <property name="hibernate.connection.url" value="jdbc:mariadb://localhost:3306/inventario_comercial"/>
      <property name="hibernate.connection.driver_class" value="org.mariadb.jdbc.Driver"/>
    </properties>
  </persistence-unit>
</persistence>
